@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Special+Elite&display=swap");
:root {
  --primary-color: #ffcc33;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.pads {
  padding: 2rem;
}
.marginHere {
  margin: 0 0 3rem 1rem;
}

h1 {
  font-size: 3rem;
  color: yellowgreen;
  font-family: "Special Elite", cursive;
}
.otherFont {
  font-family: "Akaya Kanadaka", cursive;
  text-align: center;
}

/*The list of emojis*/
.emojiList {
  font-size: xx-large;
  padding: 0.4rem;
  margin: 1rem;

  /* changes the mouse to pointer when hovering/clicking 
  an emoji*/
  cursor: pointer;
}

.Container {
  text-align: center;
  /* background-color: var(--primary-color); */
}

.largify {
  text-align: center;
  font-size: xx-large;
  padding: 2rem;
  margin: 1.3rem;
}

/*input box*/
.inputHere {
  width: 50%;
  padding: 1rem;
  font-size: xx-large;
}

.BorderMe {
  border: 1px solid var(--primary-color);
  background-color: white;
}
.colorMe {
  background-color: var(--primary-color);
  padding: 1rem;
}
